# Project : Product Return Prediction

## Introduction
In this project, we focus on understanding the reasons behind product returns and predict whether a product will be returned. Our primary goal is to provide actionable insights to retailers rather than achieving the maximum model accuracy. By identifying patterns and factors that leads to returns, we aim to help businesses to reduce return rates and associated costs.

## Problem Statement
To Predict the likelihood of a product being returned based on various features such as product category, price and customer demographics. The goal of this project is to provide insights into the factors that contribute to product returns, enabling reatilers to make informed decisions and improve their return policies and customer experience.

## Business Problem
In the retail industry, product returns are a significant challenge, impacting profitablity and customer satisfaction. Understanding the reasons behind returns can help retailers improve their products, services and customer experience.

## Mapping the Real-World Problem to a Machine Learning Problem
**It is a machine learning binary classification problem where we predict whether a order will be returned or not. By analyzing various order features, its aim to help businesses reduce return rates and improve customer satisfaction.**

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import sklearn
from scipy import stats
import kaggle
from pathlib import Path
import sidetable

### Dispaly settings

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_info_rows', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)
import warnings
warnings.filterwarnings('ignore')

### Data Ingestion and Exploration

In [3]:
path = Path.cwd()
paths = path.parent.joinpath('data','raw')

file = []
for p in paths.glob('*'):
    file.append(p.name)

print(file)

['.gitkeep', 'Global Superstore.xls']

In [4]:
#find all excel files name in .xls sheet
df = pd.read_excel(paths/'Global Superstore.xls',sheet_name=None)
df.keys()

dict_keys(['Orders', 'Returns', 'People'])

In [5]:
order_df = pd.read_excel(paths/'Global Superstore.xls',sheet_name='Orders')
return_df = pd.read_excel(paths/'Global Superstore.xls',sheet_name='Returns')
people_df = pd.read_excel(paths/'Global Superstore.xls',sheet_name='People')
display(order_df.tail(1),
    return_df.tail(1),
    people_df.tail(1))

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,Nicaragua,NaN,LATAM,Central,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.00,1.80,0.00,High

     Returned        Order ID         Market
1172      Yes  CA-2014-168193  United States

                  Person          Region
12  Alejandro Ballentine  Southeast Asia

In [6]:
display('Orders shape :',order_df.shape, 
        'Returns shape', return_df.shape, 
        'People shape',people_df.shape)

'Orders shape :'

(51290, 24)

'Returns shape'

(1173, 3)

'People shape'

(13, 2)

In [7]:
# remove whitespaces from column names
order_df.columns = order_df.columns.str.strip()
return_df.columns = return_df.columns.str.strip()
people_df.columns = people_df.columns.str.strip()

In [8]:
# Lets lower case all column names
order_df.columns = map(lambda col: col.lower(), order_df.columns)
return_df.columns = map(lambda col: col.lower(), return_df.columns)
people_df.columns = map(lambda col: col.lower(), people_df.columns)

In [9]:
order_df.columns

Index(['row id', 'order id', 'order date', 'ship date', 'ship mode',
       'customer id', 'customer name', 'segment', 'city', 'state', 'country',
       'postal code', 'market', 'region', 'product id', 'category',
       'sub-category', 'product name', 'sales', 'quantity', 'discount',
       'profit', 'shipping cost', 'order priority'],
      dtype='object')

In [10]:
# lets check the data types of the columns
order_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row id          51290 non-null  int64
 1   order id        51290 non-null  object
 2   order date      51290 non-null  datetime64[ns]
 3   ship date       51290 non-null  datetime64[ns]
 4   ship mode       51290 non-null  object
 5   customer id     51290 non-null  object
 6   customer name   51290 non-null  object
 7   segment         51290 non-null  object
 8   city            51290 non-null  object
 9   state           51290 non-null  object
 10  country         51290 non-null  object
 11  postal code     9994 non-null   float64
 12  market          51290 non-null  object
 13  region          51290 non-null  object
 14  product id      51290 non-null  object
 15  category        51290 non-null  object
 16  sub-category    51290 non-null  object
 17  product name    51290 non-null  object
 18  sales           51290 non-null  float64
 19  quantity        51290 non-null  int64
 20  discount        51290 non-null  float64
 21  profit          51290 non-null  float64
 22  shipping cost   51290 non-null  float64
 23  order priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [11]:
return_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1173 entries, 0 to 1172
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   returned  1173 non-null   object
 1   order id  1173 non-null   object
 2   market    1173 non-null   object
dtypes: object(3)
memory usage: 27.6+ KB

In [12]:
people_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   person  13 non-null     object
 1   region  13 non-null     object
dtypes: object(2)
memory usage: 340.0+ bytes

**Dataset Summary**

**The Global Superstore dataset contains three sheets: Orders, Returns and People.**
    
- **The Orders sheet contains information about customer orders, including order ID, customer ID, demographic details ,product details and sales data.**    
- **The Returns sheet contains information about returned orders, including order ID and market details.**    
- **The people sheet contains information about customers, including customer name and demographic details.**
    
**The data spans a robust four-year period from 2011 to 2015 . This dataset contains a vast array of order-related information, offering insights into retail operations across 147 countries.**

In [13]:
order_df.columns

Index(['row id', 'order id', 'order date', 'ship date', 'ship mode',
       'customer id', 'customer name', 'segment', 'city', 'state', 'country',
       'postal code', 'market', 'region', 'product id', 'category',
       'sub-category', 'product name', 'sales', 'quantity', 'discount',
       'profit', 'shipping cost', 'order priority'],
      dtype='object')

Brief description of columns:

- **Order ID**: Unique identifier for each order.

- **Order Date**: The date when the order was placed. 

- **Ship Date**: The date when the order was shipped. 

- **Ship Mode**: The day order was shipped (e.g., First Class, Second Class, Standard Class, Same Day).

- **Customer ID**: Unique identifier for each customer. 

- **Customer Name**: The name of the customer. 

- **Segment**: The business segment (e.g., Consumer, Corporate, Home Office). 

- **City**: The city where the order was placed.

- **State**: The state where the order was placed.

- **Country**: The country where the order was placed.

- **Postal Code**: The postal code of the order's location.

- **Market**: The region where the sale took place (e.g., APAC, EMEA). 

- **Region**: The specific geographical region (e.g., Central, East). 

- **Product ID**: Unique identifier for each product.

- **Product Category**: The category of products (e.g., Furniture, Technology, Office Supplies). 

- **Product Sub-Category**: More specific product grouping (e.g., Chairs, Phones). 

- **Sales**: The total sales value of the order. 

- **Quantity**: Quantity of products sold. 

- **Discount**: Discount applied to the product. 

- **Profit**: The profit earned from the order. 

- **Shipping Cost**: The cost incurred to ship the product.

# Number Formatting and Category Consistency

In [14]:
dtype_df = pd.DataFrame({
    'dtype': order_df.dtypes,
    'nunique': order_df.nunique(),
    'unique' : [order_df[col].unique() for col in order_df.columns]
}, index=order_df.columns)
dtype_df

,dtype,nunique,unique
row id,int64,51290,"[32298, 26341, 25330, 13524, 47221, 22732, 305..."
order id,object,25035,"[CA-2012-124891, IN-2013-77878, IN-2013-71249,..."
order date,datetime64[ns],1430,"[2012-07-31 00:00:00, 2013-02-05 00:00:00, 201..."
ship date,datetime64[ns],1464,"[2012-07-31 00:00:00, 2013-02-07 00:00:00, 201..."
ship mode,object,4,"[Same Day, Second Class, First Class, Standard..."
customer id,object,1590,"[RH-19495, JR-16210, CR-12730, KM-16375, RH-94..."
customer name,object,795,"[Rick Hansen, Justin Ritter, Craig Reiter, Kat..."
segment,object,3,"[Consumer, Corporate, Home Office]"
city,object,3636,"[New York City, Wollongong, Brisbane, Berlin, ..."
state,object,1094,"[New York, New South Wales, Queensland, Berlin..."
country,object,147,"[United States, Australia, Germany, Senegal, N..."
postal code,float64,631,"[10024.0, nan, 95823.0, 28027.0, 22304.0, 4242..."
market,object,7,"[US, APAC, EU, Africa, EMEA, LATAM, Canada]"
region,object,13,"[East, Oceania, Central, Africa, West, South, ..."
product id,object,10292,"[TEC-AC-10003033, FUR-CH-10003950, TEC-PH-1000..."
category,object,3,"[Technology, Furniture, Office Supplies]"
sub-category,object,17,"[Accessories, Chairs, Phones, Copiers, Tables,..."
product name,object,3788,[Plantronics CS510 - Over-the-Head monaural Wi...
sales,float64,27200,"[2309.65, 3709.3949999999995, 5175.17100000000..."
quantity,int64,14,"[7, 9, 5, 8, 4, 6, 13, 12, 14, 10, 2, 11, 3, 1]"
discount,float64,29,"[0.0, 0.1, 0.2, 0.4, 0.15, 0.3, 0.5, 0.17, 0.4..."
profit,float64,28234,"[762.1844999999998, -288.765, 919.970999999999..."
shipping cost,float64,17095,"[933.57, 923.63, 915.49, 910.16, 903.04, 897.3..."
order priority,object,4,"[Critical, Medium, High, Low]"

In [29]:
def highlight_zero_neg(val):
    if val==0:
        return 'background-color: yellow; color: black'   # zero values highlighted in yellow
    elif val < 0:
        return 'background-color: red; color: white'    # negative values highlighted in red
    else:
        return ''  # no highlight for positive values

In [40]:
# Number Formatting and data description for numerical columns
df_desc = order_df.describe(exclude='object')
display(df_desc.style.applymap(highlight_zero_neg, subset = df_desc.select_dtypes(include='number').columns))

In [58]:
def highlight_repeats(series, min_repeats):
    counts = series.value_counts()
    repeated_values = counts[counts >= min_repeats].index
    return series.apply(lambda x: 'background-color: green; color:white' if x in repeated_values else '')

In [81]:
df_desc.style.apply(highlight_repeats, min_repeats=2, subset=df_desc.select_dtypes(exclude='object').iloc[:,1:].columns)

**NOTEs**:
- **Discount**: The discount column has a lot of zero values, which might indicate that many orders were made without any discount. Or, there is any other reason we need to investigate furthur.
- **Profit**: The profit column has a negative value which indicates that there are some orders that resulted in a loss and profit value is zero as well which inidicates that there are some orders that did not generate any profit, or these values are some error need to investigate furthur.

In [84]:
order_df.describe(include='object')

,order id,ship mode,customer id,customer name,segment,city,state,country,market,region,product id,category,sub-category,product name,order priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,4,1590,795,3,3636,1094,147,7,13,10292,3,17,3788,4
top,CA-2014-100111,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,Medium
freq,14,30775,97,108,26518,915,2001,9994,11002,11117,35,31273,6152,227,29433

In [90]:
dtype_df[dtype_df['nunique']<4000]

,dtype,nunique,unique
order date,datetime64[ns],1430,"[2012-07-31 00:00:00, 2013-02-05 00:00:00, 201..."
ship date,datetime64[ns],1464,"[2012-07-31 00:00:00, 2013-02-07 00:00:00, 201..."
ship mode,object,4,"[Same Day, Second Class, First Class, Standard..."
customer id,object,1590,"[RH-19495, JR-16210, CR-12730, KM-16375, RH-94..."
customer name,object,795,"[Rick Hansen, Justin Ritter, Craig Reiter, Kat..."
segment,object,3,"[Consumer, Corporate, Home Office]"
city,object,3636,"[New York City, Wollongong, Brisbane, Berlin, ..."
state,object,1094,"[New York, New South Wales, Queensland, Berlin..."
country,object,147,"[United States, Australia, Germany, Senegal, N..."
postal code,float64,631,"[10024.0, nan, 95823.0, 28027.0, 22304.0, 4242..."
market,object,7,"[US, APAC, EU, Africa, EMEA, LATAM, Canada]"
region,object,13,"[East, Oceania, Central, Africa, West, South, ..."
category,object,3,"[Technology, Furniture, Office Supplies]"
sub-category,object,17,"[Accessories, Chairs, Phones, Copiers, Tables,..."
product name,object,3788,[Plantronics CS510 - Over-the-Head monaural Wi...
quantity,int64,14,"[7, 9, 5, 8, 4, 6, 13, 12, 14, 10, 2, 11, 3, 1]"
discount,float64,29,"[0.0, 0.1, 0.2, 0.4, 0.15, 0.3, 0.5, 0.17, 0.4..."
order priority,object,4,"[Critical, Medium, High, Low]"

order_df['difference'] = order_df['city'] != order_df['state']
print(order_df[order_df['difference']])

In [96]:
order_df['difference'] = order_df['market'] != order_df['region']
print(order_df['difference'].value_counts())

difference
True     41290
False    10000
Name: count, dtype: int64